body {
  font-family: Optima, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}

a, a:visited, a:active { color: #242935 }

body > header {
  background-color: #62929E;
  color: #242935;
  padding: 2em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > header > #logo {
  width: 33%;
}

body > header > nav > ul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.125em;
}
body > header > nav > ul > li {
  margin: 0 1em;
}

body > main {
  padding-bottom: 3em;
}

main > section {
  min-height: 300px;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  position: relative;
}

main > section > header {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
}
main > section > article {
  position: relative;
}

ul.cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

ul.cards > li {
  flex: 0 1 25%;
  padding: 15px;
}

ul.cards li .title {
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

ul.cards li a {
  text-decoration: none;
  color: inherit;
}

ul.cards li img {
  width: 100%;
}

footer {
  padding: 5em 1em;
  background-color: #DDD1C7;
  border-bottom: 1em solid #233D4D;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.parallax > .parallax-slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.parallax img {
  width: 125%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.parallax img.tall {
  width: auto;
  height: 100%;
  right: 1em;
  left: auto;
}

#hero {
  background-color: #FFF;
  padding: 2em 4em;
}

#hero header {
  display: none;
}

#hero article {
  font-size: 1.45em;
  line-height: 1.675;
  color: #81726A;
}

#hero article em {
  font-size: 2em;
  padding: 0 0.25em 0 0em;
  line-height: 1.25;
}

#hero article .lets_talk {
  display: block;
  width: 100%;
  text-align: center;
}

#hero article .lets_talk a {
  display: inline-block;
  background-color: #242935;
  text-decoration: none;
  color: #EEE;
  margin-top: 2em;
  padding: 0.5em 1em;
}

#quote1 {
  padding: 5em;
  font-size: 1.5em;
  background-color: #F9FAEA;
  text-align: center;
}

#quote1 blockquote {
  font-size: 1.75em;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
#quote1 blockquote:before {
  content: '';
  background-image: url('quotes.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.15;
  width: 6em;
  height: 6em;
  position: absolute;
  top: -3em;
  left: -3em;
  display: block;
  transform: rotate(5deg);
}
#quote1 blockquote:after {
  content: '';
  background-image: url('quotes.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.15;
  width: 6em;
  height: 6em;
  position: absolute;
  top: -1.5em;
  right: -3em;
  display: block;
  transform: rotate(195deg);
}

#quote1 .author {
  font-size: 1.25em;
  font-style: italic;
}
#quote1 .author:before {
  content: '--';
}

#career header, #career .content {
  color: #FFF;
  font-size: 1.25em;
  text-shadow: 0 1px 0 black; 
}

#career dl {
  padding: 1em;
}

#career dt {
  font-size: 1.15em;
  font-weight: bold;
}
#career dd {
  padding: 0.5em 0 0.75em;
  margin: 0;
}